<h1>Tuits#index</h1>
<p>Find me in app/views/tuits/index.html.erb</p>




<% @tuits.each do |tuit| %>
  <% tuit.user.name %>
  <% tuit.user.username %>
  <% tuit.body %>
  <% tuit.datetime %>
  <% tuit.like_count %>
<% end %>